<html>
    <head>
        <title>FRANCINE'S EERSTE PROGRAMEER POGING</title>
    </head>
    <body>
        <div>
            <h1><a href="">FRANCINE'S EERSTE ZELFGEMAAKTE WEBSITE</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Knap dat dit mij lukt</a></h2>
            <p>Maar dit is natuurlijk nog helemaal niks, we beginnen pas net.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">OEFENEN OEFENEN OEFENEN</a></h2>
            <p>Dus van nu af aan ga ik dat doen.</p>
        </div>
    </body>
</html>
